<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список проектов</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Список проектов</h1>

    <!-- Кнопка для открытия модального окна -->
    <button onclick="document.getElementById('modal').style.display='block'">Добавить проект</button>

    <!-- Модальное окно для добавления проекта -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span onclick="document.getElementById('modal').style.display='none'" style="float: right; cursor: pointer;">&times;</span>
            <form action="/add_project" method="post">
                <label for="project_name">Название проекта:</label>
                <input type="text" id="project_name" name="name" required><br>
                <label for="project_description">Описание проекта:</label>
                <input type="text" id="project_description" name="description"><br>
                <label for="project_date">Дата добавления:</label>
                <input type="date" id="project_date" name="date_added" required><br>
                <button type="submit">Добавить проект</button>
            </form>
        </div>
    </div>

    <hr>

    <!-- Список проектов -->
    <ul>
        {% for project in projects %}
            <li>
                <a href="{{ url_for('project', project_id=project['id']) }}">{{ project['name'] }}</a>
                <!-- Использование значка троеточия с выпадающим меню для удаления проекта -->
                <div class="dropdown">
                    <button class="dropbtn" onclick="toggleDropdown('{{ project.id }}')">...</button>
                    <div id="dropdown_{{ project.id }}" class="dropdown-content">
                        <form action="{{ url_for('delete_project', project_id=project['id']) }}" method="post">
                            <button type="submit">Удалить</button>
                        </form>
                    </div>
                </div>
            </li>
            <!-- Горизонтальная разделительная линия между проектами -->
            <hr class="horizontal-line">
        {% endfor %}
    </ul>

    <script>
        function toggleDropdown(projectId) {
            var dropdown = document.getElementById("dropdown_" + projectId);
            dropdown.classList.toggle("show");
        }

        // Закрываем выпадающее меню, если пользователь кликнул вне его
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>
