<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.name }}</title>
</head>
<body>
    <h1>{{ project.name }}</h1>
    <!-- Вывод значений переменных без обертки -->
    <p>Описание проекта (временно): {{ project.description }}</p>
    <p>Дата добавления (временно): {{ project.date_added }}</p>
    <!-- Конец вывода без обертки -->
    <a href="{{ url_for('index') }}">Вернуться к списку проектов</a>
</body>
</html>
